body {
    background-color: whitesmoke !important;
}
.main-content {
    padding-top: 28px !important;
    padding-left: 14px !important;
    padding-right: 14px !important;
}
.site-brand-text {
    font-weight: 700 !important;
    font-size: 1.2rem !important;
    padding-top: 4px !important;
}
.nav-username {
    padding-left: 4px !important;
}
.item .sidebar-header {
    color: grey !important;
    padding-top: 10px !important;
    font-size: 0.8rem !important;
    letter-spacing: 0.05rem !important;
    font-weight: bold !important;
    text-transform: uppercase !important;
}

.jariyah-text {
    color: lightseagreen !important;
    font-weight: bold !important;
}

.ui.action.input input[type="file"] {
    display: none;
}

.profile.metadata {
    margin-left: 0 !important;
}

/* masonry */
.masonry.grid {
    display: block;
}

@media only screen and (min-width: 768px) {
    .masonry.grid {
        -webkit-column-count: 2;
        -moz-column-count: 2;
        column-count: 2;
        -webkit-column-gap: 0;
        -moz-column-gap: 0;
        column-gap: 0;
    }

    .ui.doubling.masonry.grid[class*="two column"] > .column {
        width: 100% !important;
    }
}

@media only screen and (min-width: 992px) {
    .masonry.grid {
        -webkit-column-count: 2;
        -moz-column-count: 2;
        column-count: 2;
    }
}
